[Desktop Entry]
Name=Calculator
Name[af]=Sakrekenaar
Name[be]=Калькулятар
Name[bg]=Калкулатор
Name[bn]=গণক
Name[cs]=Kalkulačka
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[eu]=Kalkulagailu
Name[fr]=Calculatrice
Name[id]=Kalkulator
Name[it]=Calcolatore
Name[no]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sq]=Kalkulatriçe
Name[sv]=Kalkylator
Name[uk]=Калькулятор
Comment=Calculator plasma mobile app
Version=1.0
Exec=calculator
MimeType=application/x-calculator;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
